# Virtual Environment
.venv/
venv/
ENV/

# Secrets and Config
.env
tgcf.config.json
tgcf.config_bkp.json
*.session
*.session-journal

# Logs and Temp
*.log
*.txt
!requirements.txt
__pycache__/
*.pyc
.fuse_hidden*
.python-version

# OS files
.DS_Store

# Python build artifacts
*.egg-info/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
